.project-images-wrapper {
  position: relative;
  width: 100%; /* Ensure it uses the full width of the container */
}

.project-images {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  scroll-behavior: smooth;
  margin: 0 auto;
  max-width: 95%;
}

.project-image-container {
  flex: 0 0 100%; /* Make each image take up the full container width */
  scroll-snap-align: center;
  position: relative;
  max-width: 100%;
  text-align: center;
}

.project-image {
  max-width: 75%; /* Scale down the image width for better visibility */
  height: auto;
  border-radius: 5px;
  margin: 0 auto; /* Center images */
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px; /* Align the previous button to the left */
}

.next {
  right: 10px; /* Align the next button to the right */
}

.scroll-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.scroll-indicators .indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightgray;
  margin: 0 5px;
  cursor: pointer;
}

.scroll-indicators .indicator.active {
  background-color: gray;
}

/* For PDF object and iframe styling (if needed) */
object, iframe {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
  background-color: white;
}
