.project-images-wrapper {
  position: relative; /* To position navigation buttons correctly */
}

.project-images {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  width: 100%;
  scroll-behavior: smooth; /* Smooth scrolling behavior */
  margin: 0 auto;
  max-width: 95%; /* Slightly reduce the width for better visibility */
}

.project-image-container {
  flex: 0 0 100%; /* Ensure each image takes up full width */
  scroll-snap-align: center; /* Center-aligns the image during scroll */
  position: relative;
  max-width: 100%;
  text-align: center;
}

.project-image {
  max-width: 75%; /* Reduce from 90% to 80% for smaller images */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
  margin: 0 auto; /* Center images */
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px; /* Adjust for better visibility */
}

.next {
  right: 10px; /* Adjust for better visibility */
}

.scroll-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.scroll-indicators .indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightgray;
  margin: 0 5px;
  cursor: pointer;
}

.scroll-indicators .indicator.active {
  background-color: gray;
}
